<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Home - Minimalist HR</title>
        <meta charset="utf-8">
        <!-- Linking stylesheets -->
        <link rel="stylesheet" href="home.css" />
        <!-- Linking  Javascript -->
        <script src="home.js" defer></script>
        <script src="clock.js" defer></script>

        <!-- Linking icons for the nav bars -->
        <!-- In progress-->
        <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.4/css/fontawesome.min.css" 
        integrity="sha384-jLKHWM3JRmfMU0A5x5AkjWkw/EYfGUAGagvnfryNV3F9VqM98XiIH7VBGVoxVSc7" crossorigin="anonymous"> -->
    </head>
    <body>
        <!-- Nav bar code starts -->
        <nav class="navbar">
            <!-- Our brand title -->
            <div class="brand-title">Minimalist HR</div>
            <!-- Making the hamburger for the nav bar -->
            <a href="#" class = "toggle-button">
                <span class = "bar"></span>
                <span class = "bar"></span>
                <span class = "bar"></span>
            </a>

            <!-- The links of our nav bar  -->
            <div class = "navbar-links">
                <ul>
                    <li><a href="home">Home</a></li>
                    <li><a href="#">User Information</a></li>
                    <li><a href="#">Documents</a></li>
                    <li><a href="#">Time-Off</a></li>
                    <li><a href="#">Payroll</a></li>
                    <li> <a href="search">Search</a>
                    </li>
                </ul>
            </div>
        </nav>
    </body>
</html>